@import "_common/_variables";
@import "_mixin/_mixin";
@import "_mixin/_gradient";
@import "_common/_common";
@import "_partials/_nav";
@import "_partials/_projects";

// Style

body {
  font-family: Ubuntu;
  font-weight: 700;
  background-color: #000;
  color: #fff;
}
