// Projects style

#projects {
  #fullpage {
    .section {
      .project-bg {
        position: fixed;
        @include align(c,c);
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-image: url('../assets/img/strakhovskyi-bg.jpg');

        .gradient {
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          @include gradient-directional(#3c95e8, #1b7ad2, 135deg);
          opacity: .9;
        }
      }

      .project {
        position: relative;

        img {
          height: auto;
          width: auto;
          max-width: 50%;
          max-height: 50%;
          margin-left: 50%;
          transform: translateX(-50%);
        }

        a {
          color: $white-color;

          h2 {
            font-size: 36px;
            text-align: center;
            margin-top: 60px;
          }
        }
      }
    }
  }
}

// img {
//   height: auto;
//   width: auto;
//   max-width: 100%;
//   max-height: 100%;
//   margin-left: 50%;
//   transform: translateX(-50%);
// }
