// Projects style

#projects {
  .project-bg {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/Strakhovskiy.jpg');
    background-position: center;
    background-size: cover;

    .gradient {
      width: 100%;
      height: 100%;
      opacity: .9;
      @include gradient-directional(#3c95e8, #1b7ad2, -45deg);
    }
  }
}
