- var pageIndex = 'projects';

doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Art Grove Studio
    link(rel='shortcut icon', href='img/favicon.png', type='image/png')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='author', content='Savenok Oleg')
    meta(name='keywords', content='web,design,js,site')
    meta(name='Resource-type', content='Document')

    // Style		
    link(rel='stylesheet', type='text/css', href='css/loader.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')

  body(id='#{pageIndex}')      
    include _includes/_loader
    include _includes/_nav
    
    #fullpage
      .section
        .project-bg
          .gradient
        .project.strakhovskyi
          img(src="assets/img/strakhovskyi-mockup.png", alt="alt")
          a(href="https://www.behance.net/gallery/47555307/Andrey-Strakhovskyi-design-by-Art-Grove-Studio") 
            h2 Андрей Страховский
        .project
          img(src="assets/img/strakhovskyi-mockup.png", alt="alt")
          a(href="https://www.behance.net/gallery/47555307/Andrey-Strakhovskyi-design-by-Art-Grove-Studio") 
            h2 Андрей Страховский
        .project
          img(src="assets/img/strakhovskyi-mockup.png", alt="alt")
          a(href="https://www.behance.net/gallery/47555307/Andrey-Strakhovskyi-design-by-Art-Grove-Studio") 
            h2 Андрей Страховский
            
    
    // JQuery
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')    
    // PagePilling
    script(type='text/javascript', src='assets/js/jquery.fullPage.js')       
    // PagePilling Setting
    script(type='text/javascript', src='js/fullPageInit.js')    
    // GSAP
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js')
    script(type='text/javascript', src='js/main.js')
