// Variable

// Color

$white-color: #fff;
$black-color: #212121;
$blue-color: #451b59;
$yellow-color: #ffeb3b;

$global-padding-mobile: 25px;
$global-padding-tablet: 30px;
$global-padding-laptop: 40px;
$global-padding-desktop: 60px;
$global-padding-large-desktop: 80px;

$global-right-padding: 80px;
