div.nav
  div.logo
    a(href='http://artgrovestudio.com/')
      p ag.studio
  div.hamburger
    div.line.line-top
    div.line.line-center
    div.line.line-bottom
  div.social-media
    a(href='https://twitter.com/artgrovestudio')
      p twitter
    a(href='https://www.instagram.com/art.grove.studio')
      p instagram
  div.phone 
    a(href='tel:+380980811582')
      p +380980811582
